<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Headlines</title>
</head>
<body>
<form>
    <input type="text" name="feed" placeholder="search">
    <input type="submit" value="Search">
</form>
<br>
<form>
    <input type="text" name="weatherQuery" placeholder="weather">
    <input type="submit" value="Get the weather">
</form>

<h3>Current weather for <b>{{weather.city}}:</b>{{weather.description}} | {{weather.temperature}}&#8457</h3>

<h1>Headlines</h1>
{% for a in articles %}
<b><a href="{{a.link}}">{{a.title}}</a></b>
<i>{{a.date}}</i><br/>
<p>{{a.summary}}</p>
<hr>
{% endfor %}
</body>
</html>